/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}


/* set map, body, and html to 100% of the screen size */
#mapid {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 500px;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}
#gague {
  width: fit-content;
}
#chart {
  width: fit-content;
}

#ReportButton {
  margin-bottom: 30px;
}

.text-center {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: -20px !important;
}

p.header {
  text-align: center;
}

p.CityInfoText {
  text-align: center;
}

